<div class="container-fluid pt-3">
    <div class="card">
        <div class="card-header ">
            <div class="row">
                <div class="col-sm-6">
                    This is purchase screen
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-close pull-right"></button>
                </div>
            </div>
        </div>
        <div class="card-body mt-3">
            <h6>
                this is purchase body 
            </h6>
        </div>
    </div>
</div>